<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>emesene - {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="content-language" content="EN"/>
	<link rel="stylesheet" href="css/mains.css" type="text/css" media="all"/>
	<link rel="icon" href="img/favicon.png" type="image/png"/>
	<meta name="description" content="emesene: a python/Gtk Instant Messenger for the Windows Live Messenger network"/>
	<meta name="keywords" content="emesene, msn, wlm, windows, live, messenger, wlm, msnp, python, gtk, client, instant, messenger, amsn, pidgin, linux, free, gpl, ubuntu, fedora, debian, freebsd"/>
</head>
<body>

<div id="header">
	<img id="logo" src="img/emesene-logo.png" alt="emesene logo"/>
	<div id="description">
		<h1>emesene</h1>
		<p>An IM for the WLM<sup>TM</sup> network</p>
	</div>
	<ul id="linkbar">
		<li><a href="download.html"><img src="img/go-down.png" alt="" />Download</a></li>
		<li><a href="screenshots.html"><img src="img/camera-photo.png" alt="" />Screenshots</a></li>
		<li><a href="blog.html"><img src="img/internet-news-reader.png" alt="" />Blog</a></li>
		<li><a href="faq.html"><img src="img/dialog-information.png" alt="" />FAQ</a></li>
		<li><a href="http://groups.google.com/group/emesene"><img src="img/system-users.png" alt="" />Community</a></li>
		<li><a href="https://github.com/emesene/emesene/issues"><img src="img/preferences-system.png" alt="" />Bug report</a></li>
	</ul>
</div>

<div id="content">
    {{ content }}
</div>

<div id="footer">
	<p>All trademarks and copyrights on this page are owned by their respective owners. The Rest &copy; 2006-2010 emesene team.</p>
</div>
</body>
</html>
